<section class="flex felx-col ">
    <div class="fixed bg-white w-full h-[6rem] flex justify-between items-center pl-[1rem] pr-[2rem]">
        <div class="flex items-center justify-center">
            <img src="/logo.png" alt="login-img" class="size-20" />
        </div>
        <diV>
            <ul class="flex justify-between gap-25 cursor-pointer ">
                <li>
                    <a routerLink="home">Home</a>
                </li>
                <li>
                    <a routerLink="">Courses</a>
                </li>
                <li>
                    <a routerLink="">About Us</a>
                </li>
                <li>
                    <a routerLink="">Location</a>
                </li>
            </ul>
        </diV>
    
        <diV>
            Book Your Seats
        </diV>
        
    
    
    </div>
</section>